body div.form-with-message {
    padding: 15px 15px 80px;
}

/*
    FORM
*/
.form-with-message .legend {
    font-size: 12px;
}

/*
    Message
*/
.form-with-message .success {
    color: #2b40a4;
    font-size: 100px;
    display: block;
    text-align: center;
    margin: 20px auto;
}
.form-with-message > div {
    padding: 30px 10px;
}
.form-with-message > div > h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
}
.form-with-message > div > h3 + h3 {
    margin-top: 15px;
}
.form-with-message > div h4 {
    text-align: center;
    font-size: 14px;
    margin: 20px auto;
}
.form-with-message > div ul {
    list-style: none;
    padding: 0;
}
.form-with-message > div li {
    font-size: 15px;
    margin: 15px auto;
}
.form-with-message > div li .material-icons {
    color: #2b40a4;
    font-size: 15px;
    margin-right: 10px;
}
.content.form-with-message a.btn, .content.form-with-message a.btn:hover, .content.form-with-message a.btn:active {
    background: #FFF;
    border: 1px solid #444;
    color: #444;
}