/*
    FORM
*/
.form-with-messsage {
    padding: 10px 10px 70px;
}
.form-with-messsage label {
    font-size: 12px;
    margin-top: 1rem;
}
.form-with-messsage input {
    border: none;
    border-bottom: 1px solid #777;
    border-radius: 0;
    padding: 7px 0;
    font-size: 15px;
}
.form-with-messsage button[type="submit"] {
    position: absolute;
    bottom: 20px;
    left: 5%;
    width: 90%;
    border-radius: 20px;
    color: #FFF;
    background: #b5a05f;
    text-transform: uppercase;
}
.form-with-messsage .legend {
    font-size: 12px;
}

/*
    Message
*/
.form-with-messsage .success {
    color: #2b40a4;
    font-size: 90px;
    display: block;
    text-align: center;
    margin: 10px auto;
}
.form-with-messsage > div {
    padding: 30px 10px;
}
.form-with-messsage > div > h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
}
.form-with-messsage > div > h3 + h3 {
    margin-top: 15px;
}
.form-with-messsage > div p {
    text-align: center;
    font-size: 13px;
}