.title {
    text-transform: uppercase;
}
ul.userTypes {
    list-style: none;
    padding: 5px;
    text-align: center;
}
ul.userTypes > li {
    display: inline-block;
    background: rgba(10,10,10,0.7);
    padding: 20px;
    margin: 10px;
}
ul.userTypes > li p{
    color: #FFF;
}